@media screen and (max-width: 600px) {
  /* Estilos específicos para telas menores que 600 pixels de largura */
  .form-container {
    width: 100%;
  }

  .form-field {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para telas entre 601 e 1024 pixels de largura */
  .form-container {
    width: 80%;
  }
}

@media screen and (min-width: 1025px) {
  /* Estilos específicos para telas maiores que 1024 pixels de largura */
  .form-container {
    width: 60%;
  }
}
