<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/cadastro-produto']" >Cadastrar Garantia</button>
  <button mat-menu-item [routerLink]="['/listagem-produtos']">Listar Garantia</button>
<button mat-menu-item [routerLink]="['/cadastro-listagem-alunos']">Cadastrar-Listar Alunos</button>
  <button mat-menu-item [routerLink]="['/listagem-tabela']">Listar Alunos - Tabela</button> -->
<!-- </mat-menu> -->

<!-- <mat-toolbar color="primary">
  <span>Controle de Garantias</span>
  <span class="spacer"></span>
</mat-toolbar> -->

<!--
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(drawer.mode === 'over') ? 'dialog' : 'navigation'"
    [mode]="(drawer.mode === 'over') ? 'over' : 'side'" [opened]="(drawer.mode === 'over') ? drawer.opened : true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/produtos">Produtos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Seu Aplicativo</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- menu.component.html -->
<!-- src/app/layout/menu/menu.component.html -->
<!-- src/app/layout/menu/menu.component.html -->


<!-- src/app/layout/menu/menu.component.html -->

<!-- Apenas a barra de ferramentas no menu -->
<!-- src/app/layout/menu/menu.component.html -->

<!-- Apenas a barra de ferramentas no menu -->
<mat-toolbar color="primary" class="full-width-toolbar">
  <span class="title">Controle Garantias</span>
  <button mat-button routerLink="/cadastrar">Cadastro</button>
  <button mat-button routerLink="">Listagem</button>
</mat-toolbar>

